**__pycache__/
**.ipynb_checkpoints/
*outputs/
*.swp
*.swo
tags
**.out
**.log
**.pdf

dflex/dflex/kernels*/
**logs/

**data/
**.egg-info/

wandb/
checkpoints/
multirun/

scripts/sweeps/
scripts/outputs
scripts/runs/
good-shit
